html, body {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: linear-gradient(to left, #7275a4, #4a4872, #302d4a);
  display: flex;
  justify-content: center;
  align-items: center; }

.pricingtable {
  display: flex;
  height: 400px;
  width: 600px; }
  .pricingtable h2 {
    text-align: center;
    position: relative; }
    .pricingtable h2::after {
      height: 5px;
      width: 15px;
      background-color: white;
      content: "";
      position: absolute;
      bottom: -25px;
      left: 50%;
      border-radius: 2px;
      transform: translateX(-50%); }
  .pricingtable .individual, .pricingtable .shared, .pricingtable .unlimited {
    flex: 1;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    border-radius: 12px; }
  .pricingtable .individual {
    background: linear-gradient(135deg, #5464bf, #6a99ca, #6eb0be); }
    .pricingtable .individual .pricing {
      position: absolute;
      width: 100%;
      color: rgba(128, 128, 128, 0.2);
      font-size: 350px;
      text-align: center;
      font-weight: 900; }
      .pricingtable .individual .pricing span {
        font-size: 35px;
        position: absolute;
        top: 50px; }
  .pricingtable .shared {
    background: linear-gradient(135deg, #fa9083, #d589d2, #bb8ae6);
    transform: scale(1.15);
    z-index: 10;
    box-shadow: 0 0 18px 8px rgba(0, 0, 0, 0.2); }
    .pricingtable .shared .pricing {
      position: absolute;
      width: 100%;
      color: rgba(128, 128, 128, 0.2);
      font-size: 350px;
      text-align: center;
      font-weight: 900; }
      .pricingtable .shared .pricing span {
        font-size: 35px;
        position: absolute;
        top: 50px; }
    .pricingtable .shared .contents {
      text-align: center; }
      .pricingtable .shared .contents h4 {
        text-transform: capitalize; }
      .pricingtable .shared .contents h3 {
        font-size: 35px; }
  .pricingtable .unlimited {
    background: linear-gradient(135deg, #ca689e, #de8ca1, #dbbc88); }
    .pricingtable .unlimited .pricing {
      position: absolute;
      width: 100%;
      color: rgba(128, 128, 128, 0.2);
      font-size: 350px;
      text-align: center;
      font-weight: 900; }
      .pricingtable .unlimited .pricing span {
        font-size: 35px;
        position: absolute;
        top: 50px; }
    .pricingtable .unlimited .contents {
      text-align: center; }
      .pricingtable .unlimited .contents h4 {
        text-transform: capitalize; }
      .pricingtable .unlimited .contents h3 {
        font-size: 35px; }
  .pricingtable .feature {
    width: 80%;
    margin: 0 auto; }
    .pricingtable .feature h4 {
      color: #696969;
      font-weight: 400; }
      .pricingtable .feature h4 span {
        color: white;
        font-weight: 700; }
    .pricingtable .feature .progressbar {
      width: 100%;
      height: 15px;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 5px;
      box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.3);
      position: relative; }
      .pricingtable .feature .progressbar.office::after {
        width: 80%;
        background: linear-gradient(135deg, #fa9083, #d589d2, #bb8ae6);
        height: 100%;
        content: "";
        position: absolute;
        border-radius: 5px; }
      .pricingtable .feature .progressbar.home::after {
        width: 50%;
        background: linear-gradient(135deg, #ca689e, #de8ca1, #dbbc88);
        height: 100%;
        content: "";
        position: absolute;
        border-radius: 5px; }

/*# sourceMappingURL=style.css.map */
